:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 100px;
    line-height: 2;
    color: var(--grayishBlue);
}

.body {
    color: var(--grayishBlue);
    text-align: left;
    font-size:  13;
  }

.box p {
    color: var(--grayishBlue);
    object-fit: contain;
}

.box {
    border-radius: 5px;
    box-shadow: 20px 30px 40px 20px var(--grayishBlue);
    padding: 30px;
    margin: 20px; 
    object-fit: contain; 
}

img {
    float: right;
    width: 100%;
    object-fit: contain;
}
.img-container {
    position: relative;
    display: inline-block;
  }

.img-caption {
    display: flex;
}  

.description {
    font-size: .9rem;
    margin-right: 1rem;
    width: 50%;
}

figure {
    margin: 0;
  }

  .cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

}

@media (max-width: 450px) {
    .box {
        height: 200px;
        object-fit: contain;
    }

    .description {
        font-size: 7pt;
    }
}

@media (min-width: 451px) and (max-width: 992px) {

    .box {
        padding-top: 15px; 
        text-align: center;
        object-fit: contain;
    }

    .description {
        width: 60%;
        text-align: left;
    }

    img {
        float: right;
        width: 90%;
        object-fit: contain;
    }
}

@media (min-width: 993px)  {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    .box-down {
        position: relative;
        top: 150px;
        object-fit: contain;
    }
    .box {
        width: 30%;
        object-fit: contain;
     
    }
    .header p {
        width: 30%;
    }

    .description {
        font-size: .9rem;
    }
} 

@media (min-width: 2600px)  {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }
    .box-down {
        position: relative;
        top: 150px;
        object-fit: contain;
    }
    .box {
        width: 30%;
        object-fit: contain;
    }

    .header p {
        width: 30%;
    }
    h1 {
        font-size: 2.4rem; 
    }

    h2 {
        font-size: 2rem;
    }
    
    .description {
        font-size: 1.3rem;
    }
} 

